<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book shelf Registration</title>
    <meta charset="UTF-8">
    <style>
        #Registration_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .registration_item {
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<div id="Registration_form">
    <form method="post" th:action="@{/newuser/registration}" th:object="${regisForm}">
        <img class="registration_item" th:src="@{/images/book_icon.png}">
        <br>
        <input class="registration_item" type="text" placeholder="enter username" th:field="*{username_reg}">
        <br>
        <input class="registration_item" type="password" placeholder="password" th:field="*{password_first}">
        <br>
        <input class="registration_item" type="password" placeholder="password" th:field="*{password_second}">
        <br>
        <input class="registration_item" type="submit" value="Register">
    </form>
</div>
</body>
</html>
